<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Server=(localdb)\MyInstance;Integrated Security=true;-->
  <!--Data Source="ASHOKA-TI9788\SQLEXPRESS;Initial" Catalog="ZipCodeData"-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <!--<add name="VitaCrmContextGBR" connectionString="metadata=res://*/Entities.VitaCrmModelGBR.csdl|res://*/Entities.VitaCrmModelGBR.ssdl|res://*/Entities.VitaCrmModelGBR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.99.170.120;initial catalog=VitaCrmRetail;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ZipCodeData"
         connectionString="Server=ASHOKA-TI9788\SQLEXPRESS;Database=ZipCodeData;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <serviceCertificate
              storeLocation="LocalMachine"
              storeName="Root"
              findValue="WcfEndToEnd"
              x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Windows"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseWindowsGroups"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="GeoLib.Business.Manager.GeoZipCodeManager">
        <endpoint
            address="GeoService"
            binding="wsHttpBinding"
            contract="GeoLib.Business.Contract.IGeoService" >
        </endpoint>
        <endpoint
            bindingConfiguration="admin"
            address="GeoServiceAdmin"
            binding="wsHttpBinding"
            contract="GeoLib.Business.Contract.IGeoAdminService" >
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="GeoLib.Business.Manager.GeoZipCodeManager"
             relativeAddress="GeoService.svc"
             factory="GeoLib.Web.Host.CustomHostFactory"
             />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" sendTimeout="00:00:20">
          <security mode="None" />
        </binding>
        <binding name="admin" transactionFlow="true" sendTimeout="00:10:00">
          <security mode="Message">
            <!--By setting negotiateServiceCredential=false 
                client will not expect physical copy of the certificate but we have to supply public key of the 
                certificate by other means-->
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>