<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <!--<add name="VitaCrmContextGBR" connectionString="metadata=res://*/Entities.VitaCrmModelGBR.csdl|res://*/Entities.VitaCrmModelGBR.ssdl|res://*/Entities.VitaCrmModelGBR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.99.170.120;initial catalog=VitaCrmRetail;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ZipCodeData"
         connectionString="Server=ASHOKA-TI9788\SQLEXPRESS;Database=ZipCodeData;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="GeoLib.Business.Manager.GeoZipCodeManager">
        <!--<endpoint address="" binding="wsHttpBinding" contract="GeoLib.Business.Contract.IGeoService" />-->
        <endpoint
            name="netTcpGeoService"
            address="GeoService"
            binding="netTcpBinding"
            contract="GeoLib.Business.Contract.IGeoService" >
        </endpoint>
        <endpoint
            name="netTcpGeoAdminService"
            bindingConfiguration="admin"
            address="GeoAdminService"
            binding="netTcpBinding"
            contract="GeoLib.Business.Contract.IGeoAdminService" >
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/GeoLibWebHost/GeoService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      -->
    <!--<serviceActivations>
        <add service="GeoLib.Business.Manager.GeoZipCodeManager"
             relativeAddress="GeoService.svc"
             factory="GeoLib.Web.Host.CustomHostFactory"
             />
      </serviceActivations>-->
    <!--
    </serviceHostingEnvironment>-->
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" sendTimeout="00:00:20">
          <security mode="None" />
        </binding>
        <binding name="admin" transactionFlow="true" sendTimeout="00:00:20">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>